<div class="title">
  <%= "#{@discipline.code} - #{@discipline.name}" %>
</div>

<ul class="accordion" data-accordion data-allow-all-closed="true">
  <li class="accordion-item" data-accordion-item>
    <a class="accordion-title">Pré-Requisitos:</a>
    <div class="accordion-content" data-tab-content>
      <% if @pre_requisites.blank? %>
        <div>Esta matéria não é do seu curso ou não possui nenhum pré-requisito.</div>
      <% else %>
        <div class="small-12 columns no-padding">
          <ul class="modal-block-list">
            <% @pre_requisites.each do |pre| %>
              <li code="<%= pre.code %>" class="block-list-item list-item-discipline modal-discipline"><%= "#{pre.code} - #{pre.name}" %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </li>

  <li class="accordion-item" data-accordion-item>
    <a class="accordion-title">Matérias Liberadas:</a>
    <div class="accordion-content" data-tab-content>
      <% if @post_requisites.blank? %>
        <div>Esta matéria não é do seu curso ou não é pré-requisito de nenhuma outra.</div>
      <% else %>
        <div class="small-12 columns no-padding">
          <ul class="modal-block-list">
            <% @post_requisites.each do |post| %>
              <li code="<%= post.code %>" class="block-list-item list-item-discipline modal-discipline"><%= "#{post.code} - #{post.name}" %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </li>

  <li class="accordion-item" data-accordion-item>
    <a class="accordion-title">Turmas e Horários:</a>
    <div class="accordion-content schedules" data-tab-content>
      <% if @discipline_classes.blank? %>
        <div>Esta matéria não tem nenhuma turma cadastrada.</div>
      <% else %>
        <div class="small-12 columns">
          <ul class="modal-block-list">
            <% @discipline_classes.sort_by{ |dc| dc.class_number }.each do |dc| %>
              <li id="<%= "#{@discipline.code}-#{dc.class_number}" %>" class-number="<%= dc.class_number %>" class="block-list-item schedule row">
                <div class="small-12 columns class-number">
                  <%= dc.class_number %>
                </div>
                <div class="small-12 columns">
                  <% dc.schedules.reverse.each do |s| %>
                    <div class="row">
                      <div class="small-5 columns">
                        <div class="small-4 columns no-padding">
                          <%= "#{s.day_friendly}" %>
                        </div>
                        <div class="small-8 columns no-padding">
                          <%= "#{s.start_hour_friendly} às #{s.end_hour_friendly}" %>
                        </div>
                      </div>
                      <div class="small-7 columns">
                        <% s.professors.each do |p| %>
                          <div><%= p.name %></div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </li>
</ul>

<% unless @schedules.blank? %>
  <script>
    schedules = <%= raw @schedules %>;
  </script>
<% end %>
