<div>
  <a href="<%= crawl_courses_path %>">Crawlear cursos</a>
  <br />
  <a href="<%= crawl_areas_path %>">Crawlear horários</a>
  <br />
  <a href="<%= crawl_disciplines_path %>">Crawlear matérias</a>
  <br />
  <a href="<%= crawl_pre_reqs_path %>">Crawlear pré-requisitos</a>
  <br />
  <a href="<%= crawl_classes_path %>">Crawlear horários</a>
  <br />
  <br />
  <a href="<%= titleize_path %>">Titleize disciplinas e cursos</a>
  <br />
  <a href="<%= clear_db_path %>">Limpar database</a>
</div>
