<%= render 'shared/header' %>

<div class="row">
  <div class="small-12 columns text-center info-text">
    <%= @name %>
    <div class="subtext"><%= @description %></div>
  </div>
</div>

<div class="row block">
  <div class="search">
    <i class="icon-search"></i>
    <input id="coursesFilterInput" class="search-bar small-12 large-offset-1 large-10 columns" type="text" placeholder="Digite o nome do seu curso" />
  </div>

  <div class="small-12 columns no-padding">
    <ul class="block-list">
      <% @courses.each do |course| %>
        <a href="<%= course_page_path course.code %>"><li class="block-list-item course"><%= "#{course.code} - #{course.name}" %></li></a>
      <% end %>
    </ul>
  </div>
</div>

<% content_for :script do %>
<script>
  $("#coursesFilterInput").on("input", function() {
    filterList("course", $(this).val());
  });
</script>
<% end %>
