<div class="wrapper">
  <%= render 'shared/header' %>

  <div class="row">
    <div class="small-12 columns text-center info-text">
      Monte a sua grade
      <div class="subtext"><%= @course.name %></div>
    </div>

  </div>

  <div class="row">
    <ul id="blockTabs" class="tabs" data-tabs>
      <li class="tabs-title is-active" aria-selected="true"><a href="#mandatory">Obrigatórias</a></li>
      <li class="tabs-title"><a href="#elective">Optativas</a></li>
      <li class="tabs-title"><a href="#offered">Ofertadas</a></li>
      <li class="tabs-title"><a href="#all">Todas</a></li>
    </ul>
  </div>

  <div class="row block tabs-content" data-tabs-content="blockTabs">
    <div id="mandatory" class="tabs-panel no-padding is-active">
      <div class="row show-for-large">
        <div class="medium-1 columns text-center no-padding column-title">
          Semestre
        </div>
        <div class="medium-11 columns text-center column-title">
          Disciplinas
        </div>
      </div>

      <% unless @semesters.blank? %>
        <% width = 100.0 / @semesters.max_by{ |s| s ? s.size : 0 }.size %>
        <% @semesters[1..-1].each_with_index do |semester, i| %>
          <% if semester %>
            <div class="row semester-row">
              <div class="small-12 large-1 columns text-center no-padding semester">
                <span class="number"><%= i + 1 %><span class="hide-for-large">º Semestre</span></span>
              </div>

              <div class="small-12 large-11 columns">
                <% semester.each do |discipline| %>
                  <div id="<%= discipline.code %>" code="<%= discipline.code %>" click-source="curriculo" class="block-discipline discipline text-center" style="width: <%= width %>%;">
                    <div class="text">
                      <div class="code"><%= discipline.code %></div>
                      <div class="name"><%= discipline.name %></div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div id="elective" class="tabs-panel no-padding">
      <div class="search">
        <i class="icon-search"></i>
        <input id="electiveFilterInput" class="search-bar small-12 large-offset-1 large-10 columns" type="text" placeholder="Nome ou código da disciplina" />
      </div>

      <div class="small-12 columns no-padding">
        <ul class="block-list">
          <% @ops.each do |op| %>
            <li code="<%= op.code %>" click-source="optativa" class="block-list-item list-item-discipline elective-discipline discipline"><%= "#{op.code} - #{op.name}" %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="offered" class="tabs-panel no-padding">
      <div class="search">
        <i class="icon-search"></i>
        <input id="offeredFilterInput" class="search-bar small-12 large-offset-1 large-10 columns" type="text" placeholder="Nome ou código da disciplina" />
      </div>

      <div class="small-12 columns no-padding">
        <ul class="block-list">
          <% @offered.each do |offered| %>
            <li code="<%= offered.code %>" click-source="ofertada" class="block-list-item list-item-discipline offered-discipline discipline"><%= "#{offered.code} - #{offered.name}" %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="all" class="tabs-panel no-padding row">
      <form id="searchForm">
        <div class="search small-12 medium-10 columns">
          <i class="icon-search"></i>
          <input id="allinput" class="search-bar small-12 large-offset-1 large-10 columns" type="text" placeholder="Nome ou código da disciplina" />
        </div>
        <div class="small-12 medium-2 columns">
          <button id="buttonS" type="submit" class="button expanded">Buscar</button>
        </div>

        <div class="small-12 columns">
          <ul id="allBlockList" class="block-list">
          </ul>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= render partial: 'schedule_table', locals: { table_id: 'largeTable', table_class: 'schedule-table large-table' } %>
    </div>

    <div class="small-12 columns">
      <span id="goToTop" class="go-to-top">▲ Topo</span>
      <div id="exportPdf" class="button export-button float-right">Exportar como PDF</div>
    </div>
  </div>
</div>

<div id="disciplineModal" class="large reveal" data-reveal>

  <div id="loader"></div>

  <div id="modalWrapper" class="row">
    <div id="content" class="small-12 large-6 columns discipline-info"></div>

    <div class="small-12 large-6 columns table-wrapper">
      <div class="title">Grade de Horários</div>
      <%= render partial: 'schedule_table', locals: { table_id: 'modalTable', table_class: 'schedule-table modal-table' } %>
    </div>
  </div>

  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<%= render 'shared/footer' %>

<% content_for :script do %>
<script>
  var preRequisites       = <%= raw @pre  %>;
  var postRequisites      = <%= raw @post %>;
  var selectedSchedules   = {};
  var schedules;
  var usedBgColors        = [];
  var backgroundColors    = [ "antiquewhite", "aquamarine", "cadetblue", "cornflowerblue", "khaki",
                              "greenyellow", "indianred", "lightblue", "lightgreen", "lightpink",
                              "lightseagreen", "orchid", "yellowgreen", "goldgreen", "lightteal",
                              "paleorange", "colorfulgray", "pinkishpurple" ];


  var shuffle = function(input) {
    for (var i = input.length-1; i >=0; i--) {
      var randomIndex = Math.floor(Math.random()*(i+1));
      var itemAtIndex = input[randomIndex];

      input[randomIndex] = input[i];
      input[i] = itemAtIndex;
    }
  }

  var getBgColor = function(){
    if (usedBgColors.length == backgroundColors.length)
      usedBgColors = [];

    for (var i = 0; i < backgroundColors.length; i++) {
      if (usedBgColors.indexOf(backgroundColors[i]) === -1) {
        usedBgColors.push(backgroundColors[i]);
        return backgroundColors[i];
      }
    }
  }

  var removeBgColor = function(classes) {
    var index;
    for (var i = 0; i < classes.length; i++) {
      index = usedBgColors.indexOf(classes[i]);
      if (index != -1) {
        usedBgColors.splice(index, 1);
        return;
      }
    }
  }

  var changeBgColor = function(code, color_pre, color_post) {
    return function() {
      if (preRequisites[code]) {
        preRequisites[code].forEach(function(preReq) {
          var $preReq = $("#" + preReq);
          if ($preReq)
            $preReq.css("background-color", color_pre);
        });
      }

      if (postRequisites[code]) {
        postRequisites[code].forEach(function(postReq) {
          var $postReq = $("#" + postReq);
          if ($postReq)
            $postReq.css("background-color", color_post);
        });
      }
    };
  }

  var highlightSchedules = function(class_name, weight_value){
    return function() {
      $(class_name).css('font-weight', weight_value);
    }
  }

  var updateScheduleEvents = function(code) {
    $(".schedule").off('click').click(function(event) {
      var classNumber = $(this).attr("class-number");

      if (selectedSchedules[code]) {
        var $schedule_codes = $(".schedule-" + code);
        var $tds = $schedule_codes.map(function() { return $(this).parent(); });

        if ($tds.length > 0) {
          removeBgColor($schedule_codes[0].className.split(/\s+/));

          $schedule_codes.remove();

          $tds.each(function() {
            if ($(this).hasClass("error") && $(this).children().size() < 2)
              $(this).removeClass("error");
          });
        }

        $(".schedule.selected").removeClass("selected");
      }

      if (selectedSchedules[code] && selectedSchedules[code] == classNumber) {
        delete selectedSchedules[code];
      }
      else {
        selectedSchedules[code] = classNumber;
        $(this).addClass("selected");

        var commonClasses = getBgColor() + " schedule-" + code;
        var divModal = '<div code="' + code +'" click-source="grade-modal" class="' + commonClasses + ' table-discipline-modal">' + code + '</div>';
        var divLarge = '<div code="' + code +'" click-source="grade" class="' + commonClasses + ' table-discipline-large">' + code + '</div>';

        schedules[classNumber].forEach(function(schedule) {
          for (var i = 0; i < schedule.class_count; i++) {
            var $tdModal = $("#modalTable").find(".d" + schedule.day + "h" + (schedule.daytime_number + i));
            var $tdLarge = $("#largeTable").find(".d" + schedule.day + "h" + (schedule.daytime_number + i));

            if ($tdModal.children().size() > 0) {
              $tdModal.addClass('error');
              $tdLarge.addClass('error');
            }

            $tdModal.append(divModal);
            $tdLarge.append(divLarge);
          }
        });

        $(".schedule-" + code).mouseenter(highlightSchedules(".schedule-" + code, '600'));
        $(".schedule-" + code).mouseleave(highlightSchedules(".schedule-" + code, ''));

        updateDisciplineEvents('table-discipline-modal', false);
        updateDisciplineEvents('table-discipline-large', true);
      }

      mixpanel.track("Selecionou turma de disciplina", {
        "nome_curso": "<%= @course.name %>",
        "codigo_disciplina": code,
        "codigo_turma": classNumber,
      });

      event.stopPropagation();
      event.preventDefault();
    });
  }

  var updateDisciplineEvents = function(class_name, open_modal) {
    $("." + class_name).off('click').click(function(event) {
      var code = $(this).attr('code');

      $.ajax({
        type: 'GET',
        url: '<%= discipline_get_information_path %>',
        data: { code: code, course: <%= params[:code] %> },
        dataType: 'html',
        beforeSend: function() {
          $("#content").empty();
          $("#modalWrapper").hide();
          $("#loader").show();
          if (open_modal)
            $("#disciplineModal").foundation('open');
        }
      })
      .done(function(html) {
        $("#loader").hide();
        $("#modalWrapper").show();
        $("#content").html(html);
        $("#content").foundation();

        if (selectedSchedules[code]) {
          $("#" + code + "-" + selectedSchedules[code]).addClass('selected');
        }

        updateDisciplineEvents("modal-discipline", false);
        updateScheduleEvents(code);
      });

      mixpanel.track("Acessou informações de disciplina", {
        "nome_curso": "<%= @course.name %>",
        "codigo_disciplina": code,
        "origem": $(this).attr('click-source')
      });

      event.stopPropagation();
      event.preventDefault();
    });
  }

  $("#electiveFilterInput").on("input", function() {
    filterList("elective-discipline", $(this).val());
  });

  $("#offeredFilterInput").on("input", function() {
    filterList("offered-discipline", $(this).val());
  });

  $("#searchForm").submit(function() {
    var pattern = $("#allinput").val();
    if (pattern.length == 0)
      $("#allinput").addClass("error");
    else {
      $("#allinput").removeClass("error");
      $("#allBlockList").empty();
      var query = $("#allinput").val();

      $.ajax({
        type: 'GET',
        url: '<%= discipline_ajax_search_path %>',
        data: { pattern: query },
        dataType: 'html'
      })
      .done(function(html) {
        $("#allBlockList").html(html);
        updateDisciplineEvents("search-discipline", true);
      });

      mixpanel.track("Buscou por disciplina", {
        "nome_curso": "<%= @course.name %>",
        "query": query
      });
    }
    return false;
  });

  $("#goToTop").click(function() {
    $('html,body').animate({scrollTop: $("#blockTabs").offset().top}, 500);
  });

  $("#exportPdf").click(function() {
    var mixpanel_params = selectedSchedules;
    mixpanel.track("Exportou PDF das turmas", $.extend(true, [], selectedSchedules));

    var url = "<%= export_schedule_pdf_path %>.pdf?" + $.param(selectedSchedules);
    window.open(url, '_blank');
  });

  $(document).ready(function() {
    // Start loading spinner
    var spinner = new Spinner().spin();
    $("#loader").append(spinner.el)

    // Add hover event effects to pre and post requisites
    $(".block-discipline").each(function() {
      var code = $(this).attr("code");

      $(this).mouseenter(changeBgColor(code, "#F5C5C5", "#C5F5C5"));
      $(this).mouseleave(changeBgColor(code, "", ""));
    });

    // Add click event to get discipline informations
    updateDisciplineEvents("discipline", true);

    // Randomize background colors
    shuffle(backgroundColors);

    mixpanel.track("Acessou página de curso", { "nome_curso": "<%= @course.name %>" });
  });
</script>
<% end %>
