<%= stylesheet_link_tag 'courses' %>


<%= render 'shared/header' %>

<div class="row">
  <div class="small-12 columns text-center info-text">Monte a sua grade</div>
</div>

<div class="row block">
  <div class="row">
    <div class="small-4 medium-1 columns text-center no-padding column-title">
      Semestre
    </div>
    <div class="small-8 medium-11 columns text-center column-title">
      Disciplinas
    </div>
  </div>

  <% unless @semesters.blank? %>
    <% width = 100.0 / @semesters.max_by{ |s| s ? s.size : 0 }.size %>
    <% @semesters[1..-1].each_with_index do |semester, i| %>
      <% if semester %>
        <div class="row">
          <div class="small-4 medium-1 columns text-center no-padding semester">
            <span class="number"><%= i + 1 %></span>
          </div>

          <div class="small-8 medium-11 columns">
            <% semester.each do |discipline| %>
              <div id="<%= discipline.code %>" class="discipline text-center" style="width: <%= width %>%;">
                <div class="name"><%= discipline.name %></div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<% content_for :script do %>
<script>
  var disciplines    = document.getElementsByClassName("discipline");
  var preRequisites  = <%= raw @pre  %>;
  var postRequisites = <%= raw @post %>;

  function changeBgColor(code, colorPre, colorPost) {
    return function() {
      if (preRequisites[code]) {
        preRequisites[code].forEach(function(preReq) {
          if (document.getElementById(preReq))
            document.getElementById(preReq).style.backgroundColor = colorPre;
        });
      }

      if (postRequisites[code]) {
        postRequisites[code].forEach(function(postReq) {
          if (document.getElementById(postReq))
            document.getElementById(postReq).style.backgroundColor = colorPost;
        });
      }
    };
  }

  for (var i = 0; i < disciplines.length; i++) {
    disciplines[i].addEventListener("mouseover", function() { this.style.backgroundColor = "#C5C5F5" });
    disciplines[i].addEventListener("mouseout", function() { this.style.backgroundColor = "#C5C5C5" });
    var code = disciplines[i].id;
    if (preRequisites[code] || postRequisites[code]) {
      disciplines[i].addEventListener("mouseover", changeBgColor(code, "#F5C5C5", "#C5F5C5"));
      disciplines[i].addEventListener("mouseout", changeBgColor(code, "#C5C5C5", "#C5C5C5"));
    }
  }
</script>
<% end %>