<h1>MEU HORÁRIO</h1>

<a href="<%= crawl_courses_path %>">Crawlear cursos</a>
<br />
<a href="<%= crawl_disciplines_path %>">Crawlear matérias</a>
<br />
<a href="<%= crawl_pre_reqs_path %>">Crawlear pré-requisitos</a>
<br />
<br />
<a href="<%= crawl_cs_path %>">Crawlear matérias + requisitos de ciência da computação</a>
<br />
<br />
<a href="<%= clear_db_path %>">Limpar database</a>

<% @courses.each do |course| %>
  <h3><a href="<%= course_page_path course.code %>"><%= course.name %></a></h3>
<% end %>
